{% extends 'base.html.twig' %}

{% block title %}TaxCondition{% endblock %}

{% block body %}
    <h1>TaxCondition</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tax_condition.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ tax_condition.code }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ tax_condition.label }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ tax_condition.rate }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tax_condition_index') }}">back to list</a>

    <a href="{{ path('app_tax_condition_edit', {'id': tax_condition.id}) }}">edit</a>

    {{ include('tax_condition/_delete_form.html.twig') }}
{% endblock %}
